<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ doc_title }}</title>
    
    <style type="text/css">
        a.toc-backref{ color:inherit; text-decoration:none; }
        a.toc-backref:hover{ text-decoration:underline; }
    </style>
</head>

<body>
{{ content|safe }}
</body>
</html>