include MANIFEST.in
include LICENCE.txt
include README.rst
recursive-include djangotribune/templates *
recursive-include djangotribune/static *
recursive-include djangotribune/locale *
recursive-include djangotribune/test_fixtures *
