/*
* Base styles for Django-tribune
* Created by David THENON in May 2012
*/
/* line 9, ../../../../compass/scss/frontend.scss */
.djangotribune .messages .message,
.absolute-message-container {
  /* For owned reference clocks */
  /* For message that answering to user's clock */
}
/* line 10, ../../../../compass/scss/frontend.scss */
.djangotribune .messages .message span.clock,
.absolute-message-container span.clock {
  padding: 3px;
  color: #FF0000;
  text-decoration: none;
  border-left: 3px solid transparent;
  border-bottom: 1px solid transparent;
}
/* line 18, ../../../../compass/scss/frontend.scss */
.djangotribune .messages .message span.identity.authenticated,
.absolute-message-container span.identity.authenticated {
  padding-right: 3px;
  color: #008000;
  text-decoration: none;
}
/* line 23, ../../../../compass/scss/frontend.scss */
.djangotribune .messages .message span.identity.anonymous,
.absolute-message-container span.identity.anonymous {
  padding-right: 3px;
  font-style: italic;
  color: #660000;
  text-decoration: none;
}
/* line 32, ../../../../compass/scss/frontend.scss */
.djangotribune .messages .message.me-action span.content,
.absolute-message-container.me-action span.content {
  color: #008000;
  font-weight: bold;
}
/* line 38, ../../../../compass/scss/frontend.scss */
.djangotribune .messages .message span.pointer,
.absolute-message-container span.pointer {
  color: blue;
}
/* line 41, ../../../../compass/scss/frontend.scss */
.djangotribune .messages .message span.marker,
.absolute-message-container span.marker {
  font-size: 14px;
  position: absolute;
  left: -17px;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
}
/* line 47, ../../../../compass/scss/frontend.scss */
.djangotribune .messages .message span.marker i.icon-asterisk,
.absolute-message-container span.marker i.icon-asterisk {
  color: #5da423;
}
/* line 51, ../../../../compass/scss/frontend.scss */
.djangotribune .messages .message span.marker i.icon-comment,
.absolute-message-container span.marker i.icon-comment {
  color: #2ba6cb;
}
/* line 57, ../../../../compass/scss/frontend.scss */
.djangotribune .messages .message.owned span.clock,
.absolute-message-container.owned span.clock {
  border-left: 3px solid #E0B080;
  border-bottom: 1px solid #E0B080;
}
/* line 65, ../../../../compass/scss/frontend.scss */
.djangotribune .messages .message.answer span.content span.pointer.pointer-answer,
.absolute-message-container.answer span.content span.pointer.pointer-answer {
  font-weight: bold;
}
/* line 70, ../../../../compass/scss/frontend.scss */
.djangotribune .messages .message a.smiley,
.absolute-message-container a.smiley {
  text-decoration: none;
}

/* line 76, ../../../../compass/scss/frontend.scss */
.djangotribune {
  margin: 0;
  padding: .1em;
  /* Highlights for clock events */
}
/* line 82, ../../../../compass/scss/frontend.scss */
.djangotribune li.message.highlighted,
.djangotribune span.clock.highlighted {
  background-color: #e2d5d4;
}
/* line 85, ../../../../compass/scss/frontend.scss */
.djangotribune span.content span.pointer.highlighted {
  background-color: #e2d5d4;
  text-decoration: underline;
}
/* line 90, ../../../../compass/scss/frontend.scss */
.djangotribune .messages {
  margin: 0;
  padding: 0;
}
/* line 93, ../../../../compass/scss/frontend.scss */
.djangotribune .messages .message {
  margin: 3px 3px 3px 17px;
  padding: 0 0 0 5px;
  position: relative;
  list-style-type: none;
}

/* line 102, ../../../../compass/scss/frontend.scss */
.smiley_container {
  z-index: 8000;
}

/* line 107, ../../../../compass/scss/frontend.scss */
.absolute-message-container {
  position: fixed;
  z-index: 9000;
  width: 1000px;
  min-width: 768px;
  max-width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 118, ../../../../compass/scss/frontend.scss */
.absolute-message-container.at-top {
  border-top: 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 122, ../../../../compass/scss/frontend.scss */
.absolute-message-container.at-bottom {
  border-bottom: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 127, ../../../../compass/scss/frontend.scss */
.absolute-message-container span.marker {
  position: static;
  left: auto;
}
/* line 132, ../../../../compass/scss/frontend.scss */
.absolute-message-container ul {
  margin: 0;
  list-style-type: none;
}

/* line 139, ../../../../compass/scss/frontend.scss */
form {
  margin-top: 15px;
}
/* line 142, ../../../../compass/scss/frontend.scss */
form label[for='id_content'] {
  display: none;
}
/* line 146, ../../../../compass/scss/frontend.scss */
form .refresh_active {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
}
/* line 157, ../../../../compass/scss/frontend.scss */
form .refresh_active input {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
/* line 164, ../../../../compass/scss/frontend.scss */
form #div_id_content {
  padding-left: 25px;
  position: relative;
  /*&:after{
      content: url('data:image/gif;base64,R0lGODlhEAAQAPQAAP///wAAAPj4+Dg4OISEhAYGBiYmJtbW1qioqBYWFnZ2dmZmZuTk5JiYmMbGxkhISFZWVgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAAFUCAgjmRpnqUwFGwhKoRgqq2YFMaRGjWA8AbZiIBbjQQ8AmmFUJEQhQGJhaKOrCksgEla+KIkYvC6SJKQOISoNSYdeIk1ayA8ExTyeR3F749CACH5BAkKAAAALAAAAAAQABAAAAVoICCKR9KMaCoaxeCoqEAkRX3AwMHWxQIIjJSAZWgUEgzBwCBAEQpMwIDwY1FHgwJCtOW2UDWYIDyqNVVkUbYr6CK+o2eUMKgWrqKhj0FrEM8jQQALPFA3MAc8CQSAMA5ZBjgqDQmHIyEAIfkECQoAAAAsAAAAABAAEAAABWAgII4j85Ao2hRIKgrEUBQJLaSHMe8zgQo6Q8sxS7RIhILhBkgumCTZsXkACBC+0cwF2GoLLoFXREDcDlkAojBICRaFLDCOQtQKjmsQSubtDFU/NXcDBHwkaw1cKQ8MiyEAIfkECQoAAAAsAAAAABAAEAAABVIgII5kaZ6AIJQCMRTFQKiDQx4GrBfGa4uCnAEhQuRgPwCBtwK+kCNFgjh6QlFYgGO7baJ2CxIioSDpwqNggWCGDVVGphly3BkOpXDrKfNm/4AhACH5BAkKAAAALAAAAAAQABAAAAVgICCOZGmeqEAMRTEQwskYbV0Yx7kYSIzQhtgoBxCKBDQCIOcoLBimRiFhSABYU5gIgW01pLUBYkRItAYAqrlhYiwKjiWAcDMWY8QjsCf4DewiBzQ2N1AmKlgvgCiMjSQhACH5BAkKAAAALAAAAAAQABAAAAVfICCOZGmeqEgUxUAIpkA0AMKyxkEiSZEIsJqhYAg+boUFSTAkiBiNHks3sg1ILAfBiS10gyqCg0UaFBCkwy3RYKiIYMAC+RAxiQgYsJdAjw5DN2gILzEEZgVcKYuMJiEAOwAAAAAAAAAAAA%3D%3D');
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 33px;
      padding: 0 5px;
      line-height: 33px;
  }*/
}
/* line 178, ../../../../compass/scss/frontend.scss */
form #div_id_content input.content_field {
  padding-right: 25px;
  position: relative;
  transition: none 0s ease 0s;
}
/* line 183, ../../../../compass/scss/frontend.scss */
form #div_id_content input.content_field.disabled {
  border: 1px solid #606060;
  color: #606060;
  background-color: #C0C0C0;
}
/* line 188, ../../../../compass/scss/frontend.scss */
form #div_id_content input.content_field.error {
  border: 1px solid #ff0000;
}
/* line 191, ../../../../compass/scss/frontend.scss */
form #div_id_content input.content_field.backend-refresh-spinner {
  background-image: url("data:image/gif;base64,R0lGODlhEAAQAPQAAP///wAAAPj4+Dg4OISEhAYGBiYmJtbW1qioqBYWFnZ2dmZmZuTk5JiYmMbGxkhISFZWVgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAAFUCAgjmRpnqUwFGwhKoRgqq2YFMaRGjWA8AbZiIBbjQQ8AmmFUJEQhQGJhaKOrCksgEla+KIkYvC6SJKQOISoNSYdeIk1ayA8ExTyeR3F749CACH5BAkKAAAALAAAAAAQABAAAAVoICCKR9KMaCoaxeCoqEAkRX3AwMHWxQIIjJSAZWgUEgzBwCBAEQpMwIDwY1FHgwJCtOW2UDWYIDyqNVVkUbYr6CK+o2eUMKgWrqKhj0FrEM8jQQALPFA3MAc8CQSAMA5ZBjgqDQmHIyEAIfkECQoAAAAsAAAAABAAEAAABWAgII4j85Ao2hRIKgrEUBQJLaSHMe8zgQo6Q8sxS7RIhILhBkgumCTZsXkACBC+0cwF2GoLLoFXREDcDlkAojBICRaFLDCOQtQKjmsQSubtDFU/NXcDBHwkaw1cKQ8MiyEAIfkECQoAAAAsAAAAABAAEAAABVIgII5kaZ6AIJQCMRTFQKiDQx4GrBfGa4uCnAEhQuRgPwCBtwK+kCNFgjh6QlFYgGO7baJ2CxIioSDpwqNggWCGDVVGphly3BkOpXDrKfNm/4AhACH5BAkKAAAALAAAAAAQABAAAAVgICCOZGmeqEAMRTEQwskYbV0Yx7kYSIzQhtgoBxCKBDQCIOcoLBimRiFhSABYU5gIgW01pLUBYkRItAYAqrlhYiwKjiWAcDMWY8QjsCf4DewiBzQ2N1AmKlgvgCiMjSQhACH5BAkKAAAALAAAAAAQABAAAAVfICCOZGmeqEgUxUAIpkA0AMKyxkEiSZEIsJqhYAg+boUFSTAkiBiNHks3sg1ILAfBiS10gyqCg0UaFBCkwy3RYKiIYMAC+RAxiQgYsJdAjw5DN2gILzEEZgVcKYuMJiEAOwAAAAAAAAAAAA%3D%3D");
  background-position: center right;
  background-repeat: no-repeat;
}
/* line 196, ../../../../compass/scss/frontend.scss */
form #div_id_content input.content_field.backend-refresh-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHpJREFUeNpiYBjMwACI30OxATkG7Afi/1C8n1TNCUiaYTiBWM0CUGeDNDlA8X+omAAxBvQj2QoDMH4/MQH3H48B/wkF6H4iDNhPSsBhMwBrgCIHHDEYI0D7cSgsAOIAHHLgAGVEciI2UIhkATYA00+S85G9MQgAQIABAJGFUjKtrEJQAAAAAElFTkSuQmCC");
  background-position: center right;
  background-repeat: no-repeat;
}
/* line 204, ../../../../compass/scss/frontend.scss */
form .within-input {
  position: absolute;
  top: 10px;
  font-size: 14px;
}
